footer.page-footer {
    background: #2c313e;
    flex: 1 0 auto;
    margin-bottom: 0px;
    margin-top: 40px;
    bottom: 0;
    width: 100%;
}

footer.page-footer.center-align {
    margin-top: 500px;
}